#XfcePanelWindow { 
	font-family: 'UbuntuSans Nerd Font';
	font-size: 12px;
	border-radius: 10px;
}

#xfce-panel-toggle-button:checked label {
	color: #ff9e64;
}

.tasklist {
	-XfceTasklist-minimized-icon-lucency: 0;
}

.tasklist button label {
	padding-left: 10px;
}

.tasklist button:checked label {
	color: #bb9af7;
}
